<h1><%=@task.title%></h1>
<P><%=@task.details%></P>
<P><%=@task.completed%></P>
<%= link_to "Back to list", tasks_path, class: "m-1 btn btn-primary" %>
<%= link_to "Modify this TASK", edit_task_path, class: "m-1 btn btn-primary" %>
